body {
    position: relative;
    width: 1440px;
    height: 700px;
    
    background: #2A2A2A;
}

.rectangle{
    position: absolute;
    width: 1060px;
    height: 520px;
    left: calc(50% - 1060px/2);
    top: 100px;
    
    background: #2A2A2A;
    box-shadow: 4px 4px 64px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.universe{
    position: absolute;
    width: 400px;
    height: 42px;
    left: calc(50% - 400px/2);
    top: 528px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}