.main-container {
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Kristi', cursive;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.card {
    min-width: 340px;
    height: 497px;
    border-radius: 20px;
    background-size: cover;
    transition: all 0.25s linear;
}

.card:hover {
    transform: rotate(5deg);
    cursor: pointer;
    box-shadow: 0px 5px 34px rgba(0, 0, 0, 0.25);
}

.card:hover .card-text {
    top: 15px;
    opacity: 1;
}

.card-text {
    position: absolute;
    top: -30px;
    left: 30px;
    opacity: 0;
    transition: all 0.25s ease-in;
    color: white;
    font-family: Kristi;
    font-size: 31px;
    letter-spacing: 0.02em;
    color: #FAFAFA;
}


