@import "./variables-mixins";

.project-info {
  background-image: url("images/87af784bb7e4922b9b9f833f1b204ebe.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  order: 1;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &:before {
    display: none;
  }

  .project-name {
    display: none;
  }

  .project-date {
    display: none;
  }

  @media screen and (min-width: $small-break) {
    order: 2;
    width: 60%;

    &:before {
      @include color-transformation();
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition-property: background-color;
    }

    .project-name {
      @include color-transformation();
      @include font-props(normal, 500, 25px, 38px);
      display: block;
      letter-spacing: 0.04em;
      color: transparent;
      z-index: 1;
    }

    .project-date {
      @include color-transformation();
      @include font-props(normal, 300, 16px, 27px);
      display: block;
      letter-spacing: 0.04em;
      color: transparent;
      z-index: 1;
    }

    &:hover {
      &:before {
        background-color: rgba(0, 0, 0, 0.6);
      }

      .project-name {
        color: #e8e6e2;
      }

      .project-date {
        color: #e8e6e2;
      }
    }
  }

  @media screen and (min-width: $medium-break) {
    min-width: 926px;
  }
}
