@mixin color-transformation {
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-property: color;
}

@mixin font-props(
  $style: normal,
  $weight: 500,
  $size: 48px,
  $line-height: 55px
) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

$small-break: 1024px;
$medium-break: 1440px;

*,
html {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
