.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dialog {
  background: #fafafa;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 10px;
  animation: 0.3s cubic-bezier(0.85, 0.42, 0.6, 2) reverse bouncyOut;
}
.dialog.open {
  animation: 0.3s cubic-bezier(0.85, 0.42, 0.6, 3) bouncy;
}
.dialogContainer {
  /* :modal= when dialog is opened */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s;
  backdrop-filter: blur(5px);
}
.dialog.open::backdrop {
  opacity: 1;
}
.dialog.closed::backdrop {
  opacity: 0;
}

@keyframes bouncy {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bouncyOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}