*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    min-height: 100vh;
}

body {
    background-color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    height: 100%;
}

main, .overlay {
    min-height: 700px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    column-gap: 20px;
    width: fit-content;
    margin: auto;
}

.container {
    grid-column: 5 / 9;
    margin-top: 233px;
    padding: 58px 57px 37px 50px;
    height: fit-content;
}

.container, .modal {
    border-radius: 10px;
}

.overlay, .modal {
    position: absolute;  
}

.overlay {
    top: 0px;
    left: 0px;
    background-color: #00000080;
    height: 100%;
    width: 100%;
    transition: all 200ms ease-in-out;
}

.modal {
    width: 582px;
    top: 201px;
    left: calc(50% - 582px/2);
    margin: auto;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 24px #00000026;
    padding: 76px 75px;
}

p {
    margin-top: 0px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    line-height: 23px;
    margin-top: 0px;
    margin-bottom: 17px;
}

.btn {
    text-transform: uppercase;
    border-radius: 40px;
    border: 0px;
    padding: 10px 30px;
    transition: all 200ms ease-in-out;
}

.btn:enabled {
    background-color: #6A6EF7;
    color: #DCDEFD;
}

.btn:hover {
    background-color: #DCDEFD;
    color: #6A6EF7;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal.hidden {
    transform: scale(0.8);
}

.bouncein {
    animation: 500ms ease-in-out 0s bouncein;
}

.bounceout {
    animation: 500ms ease-in-out 0s bounceout;
}

@keyframes bouncein {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes bounceout {
    0% {
        transform: scale(1.0);
        opacity: 1;
    }
    25% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}