*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}

:root {
	--btn-primary-color: 106, 110, 247;
	--btn-primary-text-color: 220, 222, 253;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 200px;
	text-align: center;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	background-color: gray;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 300px;
	width: 600px;
	background-color: #fff;
	border-radius: 0.5rem;
}

.content p {
	font-size: 1.5rem;
}

.btn-primary {
	margin-top: 1.5rem;
	background-color: rgba(var(--btn-primary-color), 1);
	color: rgb(var(--btn-primary-text-color));
	text-transform: uppercase;
	border-radius: 40px;
	padding: 10px 30px;
	border: none;
}

.btn-primary :hover {
	background-color: rgba(var(--btn-primary-color), 0.2);
	color: rgba(var(--btn-primary-color), 1);
}
