* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #333;
}
.app {
	position: relative;
	width: clamp(400px, 80%, 1400px);
	height: 700px;
	background-color: #000;
	overflow: hidden;
}
.bars {
	position: absolute;
	margin: 50px 50px 0 0;
	right: 0;
	cursor: pointer;
}
.linecss {
	transition: transform 0.6s ease-in-out;
	border: 2px solid #ffffff;
}
.line1 {
	width: 92px;
}
.line2 {
	margin: 20px 0 0 30px;
	width: 62px;
}
.line3 {
	width: 92px;
	margin-top: 20px;
}
.nav {
	position: relative;
	width: 710px;
	height: 700px;
	left: -710px;
	background-image: url('./menu.jpg');
	transition: left 0.6s ease-in-out;
}
.nav-activ {
	left: 0;
}

*[data-state='show'] {
	.line1 {
		transform: rotate(45deg) translateY(20px) translateX(15px);
	}
	.line3 {
		transform: rotate(-45deg) translateY(-20px) translateX(15px);
	}
	.line2 {
		transform: scale(0);
	}
}
