@import "_global.scss";

header {
  width: 100vw;
}

nav,
.nav-icon {
  height: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 50px;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  cursor: pointer;

}

.nav-icon div {
  background-color: $white;
  height: 3px;
  transition: all 0.6s ease-in-out;
  &:nth-child(1) {
    width: 100px;
  }
  &:nth-child(2) {
    width: 50px;
  }
  &:nth-child(3) {
    width: 100px;
  }
}

.icon-active {
  & div:nth-child(1) {
    transform-origin: top left;
    transform: rotate(45deg);
  }  
  & div:nth-child(2) {
    transform-origin: top right;
    transform: translateX(200px);
  }
  & div:nth-child(3) {
    transform-origin: top right;
    transform: rotate(-45deg) translate(15px,-62px)
  }
}

.nav-img {
  position: absolute;
  top: 0;
  left: -1000px;
  width: 710px;
  height: 700px;
  transition: all 0.6s ease-in-out;
}

.nav-img-active {
  left: 0;
}
